aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
cffi==1.15.0
chardet==4.0.0
idna==3.3
multidict==6.0.2
py-cord==2.0.0b5
pycparser==2.21
pydantic==1.9.0
PyNaCl==1.4.0
python-dotenv==0.19.2
six==1.16.0
typing-extensions==3.10.0.2
vkwave==0.2.15
yarl==1.7.2
